{% extends "layout.njk" %}

{% block head %}
    <title>OPS! Erro 404</title>
{% endblock %}

{% block content %}
    <div class="wrapper-404">
        <h1>OPS! Erro na página!</h1>
    </div>
{% endblock %}