{% extends "layout.njk" %}

{% block head %}
        <title>{{ item.id }} - Rocketseat</title>
{% endblock %}

{% block content %}       
<section class="site"> 
    <div class="card" id="{{ item.id }}">
        <div class="card__site-container">
            <img src="{{ item.img }}" alt="Imagem de {{item.title}}">
        </div>
        
        <div class="card__content">
            <h3>{{ item.title }}</h3>
        </div>

        <div class="card__info">
            <a href="https://rocketseat.com.br/{{ item.id }}" target="_blank"><p class="card__price">Click aqui para acessar a página do curso!</p></a>
        </div>
    </div>        
</section>
{% endblock %}